LSKY_IMAGE=ghcr.io/inspoaibox/lksypro-mc:latest
APP_PORT=8080
APP_URL=http://localhost:8080
SESSION_DRIVER=redis
SESSION_ENCRYPT_COOKIE=false
REDIS_PASSWORD=

SQLITE_DATABASE=/var/www/html/storage/runtime/database.sqlite
